{% include 'Navigation.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription Client</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Inscription Client</h1>
        <!-- client_register.html -->
<form method="post">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ client_form.as_p }}
    <button type="submit">Register</button>
  </form>
  
    </div>
</body>
</html>
