certifi @ file:///private/tmp/python-certifi-20240306-6664-cot6il/certifi-2024.2.2
contourpy==1.2.0
Django==3.2.12
cycler==0.12.1
distlib==0.3.7
filelock==3.13.1
fonttools==4.49.0
kiwisolver==1.4.5
matplotlib==3.8.3
networkx==3.2.1
numpy==1.26.4
packaging==23.2
pandas==2.2.1
pillow==10.2.0
pipenv==2023.10.24
platformdirs==3.11.0
pyparsing==3.1.1
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
tzdata==2024.1
virtualenv==20.24.6
